<div class="main-wrapper">
  <aside class="aside-container">
      <ul>
          {{range .DocNav}}
          <li>
            {{if .IsURL}}
            <h4><a href="{{.URL}}" class="{{.I18n}}">{{$.I18n.Tr .I18n}}</a></h4>
            {{else}}
            <span class="no-url">#{{$.I18n.Tr .I18n}}</span>
            {{end}}

            {{if .Children}}
            <ul>
                {{range .Children}}
                <li>
                    {{if .IsURL}}
                    <a href="{{.URL}}" class="{{.I18n}}">{{$.I18n.Tr .I18n}}</a>
                    {{else}}
                    <span class="no-url">#{{$.I18n.Tr .I18n}}</span>
                    {{end}}

                    {{if .Children}}
                    <ul>
                        {{range .Children}}
                        <li>
                            {{if .IsURL}}
                            <a href="{{.URL}}" class="{{.I18n}}">{{$.I18n.Tr .I18n}}</a>
                            {{else}}
                            <span class="no-url">#{{$.I18n.Tr .I18n}}</span>
                            {{end}}
                        </li>
                        {{end}}
                    </ul>
                    {{end}}
                </li>
                {{end}}
            </ul>
            {{end}}
          </li>
          {{end}}
      </ul>
  </aside>

  <section class="main-container">
    <article class="markdown">
      <div id="doc-content">
        {{.DocContent}}
      </div>
    </article>
  </section>

</div>
