{{template "header" .}}
<div class="main-wrapper">
  <aside class="aside-container">
      <ul>
          {{range .DocNav}}
          <li>
            {{if .IsURL}}
            <a href="{{.URL}}" class="{{.I18n}}">{{$.I18n.Tr .I18n}}</a>
            {{else}}
            <span>{{$.I18n.Tr .I18n}}</span>
            {{end}}

            {{if .Children}}
            <ul>
                {{range .Children}}
                <li>
                    {{if .IsURL}}
                    <a href="{{.URL}}" class="{{.I18n}}">{{$.I18n.Tr .I18n}}</a>
                    {{else}}
                    <span>{{$.I18n.Tr .I18n}}</span>
                    {{end}}

                    {{if .Children}}
                    <ul>
                        {{range .Children}}
                        <li>
                            {{if .IsURL}}
                            <a href="{{.URL}}" class="{{.I18n}}">{{$.I18n.Tr .I18n}}</a>
                            {{else}}
                            <span>{{$.I18n.Tr .I18n}}</span>
                            {{end}}
                        </li>
                        {{end}}
                    </ul>
                    {{end}}
                </li>
                {{end}}
            </ul>
            {{end}}
          </li>
          {{end}}
      </ul>
  </aside>

  <section class="main-container">
    <article class="markdown">
      <div id="doc-content">
        {{.DocContent}}
      </div>
    </article>
    <div class="prev-next-nav"><span class="prev-page"></span>
      <a class="next-page" href="#">
        快速上手
        <span class="chinese"></span>
      </a>
    </div>
  </section>

</div>

{{template "footer" .}}
