<!-- navigator -->
<nav id="nav" class="navbar navbar-dark bg-inverse">
    <ul class="nav navbar-nav">
        {{range .HomeNav}}
        <li class="nav-item">
            <a href="{{.URL}}" class="{{.I18n}} nav-link">{{$.I18n.Tr .I18n}}</a>
        </li>
        {{end}}
    </ul>
</nav>
<!-- logo hero container -->
<div id="logo-hero-container" class="container flex-center">
    <h1 id="logo-title">
        <img src="/static/img/beego.png" alt="beego-logo" id="logo-img"/>
    </h1>
    <p class="stick-container-slogan" id="slogan">BeeGo make it fun and easy to code more advanced web applications while still adhering to the MVC concepts!</p>
    <!--<div id="code-start-container" class="flex-center">
        <div id="code-start-command">
            <span class="comment-word">// download bee tool</span><br/>
            go get github.com/beego/bee <br/>
            <span class="comment-word">// add $GOPATH to $PATH</span><br/>
            bee new site
        </div>
    </div>-->
    <div id="install-container">
        {{if eq .Lang "zh-CN"}}
        <a href="#install" class="btn btn-danger btn-lg install-btn">Latest Stable v1.6.1</a>
        <!--<a href="/quickstart" target="_blank" class="btn btn-default stick-container-btn-others">快速开始</a>-->
        {{end}}
        {{if eq .Lang "en-US"}}
        <a href="#install" class="btn btn-danger btn-lg install-btn">Latest Stable v1.6.1</a>
        <!--<a href="/quickstart" target="_blank" class="btn btn-default stick-container-btn-others">Getting Started</a>-->
        {{end}}
    </div>
</div>
<div class="feature-container">
    {{if eq .Lang "zh-CN"}}
    <div class="row">
        <div class="col-md-4 col-xs-12 text-center features_item">
            <img src="/static/img/feature/f-icon-01.png" class="icon" alt="简单化">

            <h3> 简单化 </h3>

            <p class="text-left">
                RESTful 支持、MVC 模型，可以使用 bee 工具快速地开发应用，包括监控代码修改进行热编译、自动化测试代码以及自动化打包部署。
            </p>
        </div>
        <div class="col-md-8 col-xs-12">
            <div>
                <img src="/static/img/feature/f-placeholder.png" style="width: 100%" alt="简单化图示">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <div>
                <img src="/static/img/feature/f-placeholder.png" style="width: 100%" alt="智能化图示">
            </div>
        </div>
        <div class="col-md-4 col-xs-12 text-center features_item">
            <img src="/static/img/feature/f-icon-02.png" class="icon" alt="智能化">

            <h3> 智能化 </h3>

            <p class="text-left">
                支持智能路由、智能监控，可以监控 QPS、内存消耗、CPU 使用，以及 goroutine 的运行状况，让您的线上应用尽在掌握。
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-12 text-center features_item">
            <img src="/static/img/feature/f-icon-03.png" class="icon" alt="模块化">

            <h3> 模块化 </h3>

            <p class="text-left">
                beego 内置了强大的模块，包括 Session、缓存操作、日志记录、配置解析、性能监控、上下文操作、ORM 模块、请求模拟等强大的模块，足以支撑你任何的应用。
            </p>
        </div>
        <div class="col-md-8 col-xs-12">
            <div>
                <img src="/static/img/feature/f-placeholder.png" style="width: 100%" alt="模块化图示">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <div>
                <img src="/static/img/feature/f-placeholder.png" style="width: 100%" alt="高性能图示">
            </div>
        </div>
        <div class="col-md-4 col-xs-12 text-center features_item">
            <img src="/static/img/feature/f-icon-04.png" class="icon" alt="高性能">

            <h3> 高性能 </h3>

            <p class="text-left">
                beego 采用了 Go 原生的 http 包来处理请求，goroutine 的并发效率足以应付大流量的 Web 应用和 API 应用，目前已经应用于大量高并发的产品中。
            </p>
        </div>
    </div>
    {{end}}
    {{if eq .Lang "en-US"}}
    <div class="row">
        <div class="col-md-4 col-xs-12 text-center features_item">
            <img src="/static/img/feature/f-icon-01.png" class="icon" alt="EASY TO USE">

            <h3> EASY TO USE </h3>

            <p class="text-left">
                With RESTful support, MVC model, and use bee tool to build your apps quickly with features including
                code hot compile, automated testing, and automated packing and deploying.
            </p>
        </div>
        <div class="col-md-8 col-xs-12">
            <div>
                <img src="/static/img/feature/f-placeholder.png" style="width: 100%" alt="EASY TO USE Graphic">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <div>
                <img src="/static/img/feature/f-placeholder.png" style="width: 100%" alt="INTELLIGENT Graphic">
            </div>
        </div>
        <div class="col-md-4 col-xs-12 text-center features_item">
            <img src="/static/img/feature/f-icon-02.png" class="icon" alt="INTELLIGENT">

            <h3> INTELLIGENT </h3>

            <p class="text-left">
                With intelligent routing and monitoring, it's able to monitor your QPS, memory and CPU usages, and
                goroutine status. It provides you the fully control of your online apps.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-12 text-center features_item">
            <img src="/static/img/feature/f-icon-03.png" class="icon" alt="MODULAR">

            <h3> MODULAR </h3>

            <p class="text-left">
                With powerful built-in modules including session control, caching, logging, configuration parsing,
                performance supervising, context handling, ORM supporting, and requests simulating. You get the powerful
                foundation for any type of applications.
            </p>
        </div>
        <div class="col-md-8 col-xs-12">
            <div>
                <img src="/static/img/feature/f-placeholder.png" style="width: 100%" alt="MODULAR Graphic">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <div>
                <img src="/static/img/feature/f-placeholder.png" style="width: 100%" alt="HIGH PERFORMANCE Graphic">
            </div>
        </div>
        <div class="col-md-4 col-xs-12 text-center features_item">
            <img src="/static/img/feature/f-icon-04.png" class="icon" alt="HIGH PERFORMANCE">

            <h3> HIGH PERFORMANCE </h3>

            <p class="text-left">
                With native Go http package to handle the requests and the efficient concurrence of goroutine. Your
                beego applications can handle massive trafic as beego are doing in many productions.
            </p>
        </div>
    </div>
    {{end}}
</div>

<div class="users-container">
    <div class="row">
        <div class="col-md-12">
            {{if eq .Lang "zh-CN"}}
            <h2 class="stick-container-slogan">我们的知名顾客</h2>
            {{end}}
            {{if eq .Lang "en-US"}}
            <h2 class="stick-container-slogan">Our well-known customers</h2>
            {{end}}
            <div class="whouse">
                <img class="img-thumbnail" src="/static/img/brands/huawei.png">
                <img class="img-thumbnail" src="/static/img/brands/360.png">
                <img class="img-thumbnail" src="/static/img/brands/youdao.png">
                <img class="img-thumbnail" src="/static/img/brands/weico.png">
                <img class="img-thumbnail" src="/static/img/brands/weibo.png">
                <img class="img-thumbnail" src="/static/img/brands/jd.png">
                <img class="img-thumbnail" src="/static/img/brands/bmob.png">
                <img class="img-thumbnail" src="/static/img/brands/ardanstudios.png">
                <img class="img-thumbnail" src="/static/img/brands/oupeng.png">
                <img class="img-thumbnail" src="/static/img/brands/meituan.png">
                <img class="img-thumbnail" src="/static/img/brands/tudou.png">
                <img class="img-thumbnail" src="/static/img/brands/lianzong.png">
                <img class="img-thumbnail" src="/static/img/brands/17173.png">
                <img class="img-thumbnail" src="/static/img/brands/taobao.png">
                <img class="img-thumbnail" src="/static/img/brands/snda.png">
                <img class="img-thumbnail" src="/static/img/brands/tencent.png">
                <img class="img-thumbnail" src="/static/img/brands/zalora.png">
                <img class="img-thumbnail" src="/static/img/brands/wepiao.png">
            </div>
        </div>
    </div>
</div>
<hr>

{{template "footer" .}}
