<!-- logo hero container -->
<div id="logo-hero-container" class="container flex-center">
    <h1 id="logo-title">
        <img src="/static/img/beego.png" alt="beego-logo" id="logo-img"/>
    </h1>
    <p class="stick-container-slogan" id="slogan">BeeGo make it fun and easy to code more advanced web applications while still adhering to the MVC concepts!</p>
    <!--<div id="code-start-container" class="flex-center">
        <div id="code-start-command">
            <span class="comment-word">// download bee tool</span><br/>
            go get github.com/beego/bee <br/>
            <span class="comment-word">// add $GOPATH to $PATH</span><br/>
            bee new site
        </div>
    </div>-->
    <div id="install-container">
        {{if eq .Lang "zh-CN"}}
        <a href="#install" class="btn btn-danger btn-lg install-btn">Latest Stable v1.6.1</a>
        <!--<a href="/quickstart" target="_blank" class="btn btn-default stick-container-btn-others">快速开始</a>-->
        {{end}}
        {{if eq .Lang "en-US"}}
        <a href="#install" class="btn btn-danger btn-lg install-btn">Latest Stable v1.6.1</a>
        <!--<a href="/quickstart" target="_blank" class="btn btn-default stick-container-btn-others">Getting Started</a>-->
        {{end}}
    </div>
</div>
<div id="feature-container">
    {{if eq .Lang "zh-CN"}}
        {{template "zh-CN/index_feature.html"}}
    {{end}}
    {{if eq .Lang "en-US"}}
        {{template "en-US/index_feature.html"}}
    {{end}}
</div>
<div id="users-container">
    <hr class="users-hr">
    <div class="container">
        {{if eq .Lang "zh-CN"}}
        <h2 class="text-center">我们的知名顾客</h2>
        {{end}}
        {{if eq .Lang "en-US"}}
        <h2 class="text-center">Our Well-known Customers</h2>
        {{end}}
        <div class="whouse text-center">
            <img class="img-thumbnail" src="/static/img/brands/huawei.png">
            <img class="img-thumbnail" src="/static/img/brands/360.png">
            <img class="img-thumbnail" src="/static/img/brands/youdao.png">
            <img class="img-thumbnail" src="/static/img/brands/weico.png">
            <img class="img-thumbnail" src="/static/img/brands/weibo.png">
            <img class="img-thumbnail" src="/static/img/brands/jd.png">
            <img class="img-thumbnail" src="/static/img/brands/bmob.png">
            <img class="img-thumbnail" src="/static/img/brands/ardanstudios.png">
            <img class="img-thumbnail" src="/static/img/brands/oupeng.png">
            <img class="img-thumbnail" src="/static/img/brands/meituan.png">
            <img class="img-thumbnail" src="/static/img/brands/tudou.png">
            <img class="img-thumbnail" src="/static/img/brands/lianzong.png">
            <img class="img-thumbnail" src="/static/img/brands/17173.png">
            <img class="img-thumbnail" src="/static/img/brands/taobao.png">
            <img class="img-thumbnail" src="/static/img/brands/snda.png">
            <img class="img-thumbnail" src="/static/img/brands/tencent.png">
            <img class="img-thumbnail" src="/static/img/brands/zalora.png">
            <img class="img-thumbnail" src="/static/img/brands/wepiao.png">           
        </div>
    </div>
</div>
<hr>