<div class="stick-container">
  <h1 class="stick-container-title">BEEGO</h1>
  <p class="stick-container-slogan">The web, with simplicity.</p>
  <div>
    {{if eq .Lang "zh-CN"}}
      <a href="#install" class="btn btn-primary stick-container-btn">安装 v1.6.1</a>
      <a href="/quickstart" target="_blank" class="btn btn-default stick-container-btn-others">快速开始</a>
    {{end}}
    {{if eq .Lang "en-US"}}
      <a href="#install" class="btn btn-primary stick-container-btn">Install v1.6.1</a>
      <a href="/quickstart" target="_blank" class="btn btn-default stick-container-btn-others">Getting Started</a>
    {{end}}
  </div>
  <div class="code-container">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        {{if eq .Lang "zh-CN"}}
          <a class="nav-link active" href="#quick-start" id="quick-start-tab" role="tab" data-toggle="tab"
          aria-controls="quick-start" aria-expanded="true">快速开始</a>
        {{end}}
        {{if eq .Lang "en-US"}}
          <a class="nav-link active" href="#quick-start" id="quick-start-tab" role="tab" data-toggle="tab"
          aria-controls="quick-start" aria-expanded="true">Quick Start</a>
        {{end}}
      </li>
    </ul>

    <!-- Content Panel -->
    <div class="tab-content">
      {{if eq .Lang "zh-CN"}}
      <div role="tabpanel" class="tab-pane fade in active" id="quick-start" aria-labelledby="quick-start-tab">
        <article class="markdown">
          <blockquote><p>下载与安装 </p></blockquote>
          <div class="highlight"><pre><code class="go">
  go get github.com/astaxie/beego
          </code></pre></div>
          <blockquote><p>创建文件 <code>hello.go</code></p></blockquote>
          <div class="highlight"><pre><code class="go">
  package main

  import "github.com/astaxie/beego"

  func main() {
    beego.Run()
  }
          </code></pre></div>
          <blockquote><p>编译与运行 </p></blockquote>
          <div class="highlight"><pre><code class="go">
  go build -o hello hello.go
  ./hello
          </code></pre></div>
          <blockquote><p>浏览效果，打开浏览器并访问 <code>http://localhost:8080</code></p></blockquote>
          <blockquote><p>恭喜！您已经成功构建了第一个 beego 项目。请查阅开发文档以进行深入学习。</p>
        </article>
      </div>
      {{end}}
      {{if eq .Lang "en-US"}}
      <div role="tabpanel" class="tab-pane fade in active" id="quick-start" aria-labelledby="quick-start-tab">
        <article class="markdown">
          <blockquote><p>Download and install </p></blockquote>
          <div class="highlight"><pre><code class="go">
  go get github.com/astaxie/beego
          </code></pre></div>
          <blockquote><p>Create file <code>hello.go</code></p></blockquote>
          <div class="highlight"><pre><code class="go">
  package main

  import "github.com/astaxie/beego"

  func main() {
    beego.Run()
  }
          </code></pre></div>
          <blockquote><p>Build and run </p></blockquote>
          <div class="highlight"><pre><code class="go">
  go build -o hello hello.go
  ./hello
          </code></pre></div>
          <blockquote><p>View effects, Open your browser and visit <code>http://localhost:8080</code></p></blockquote>
          <blockquote><p>Congratulations! You just built your first beego app. Please see Documentation for going further.</p>
        </article>
      </div>
      {{end}}
    </div>
  </div>
</div>
<hr>

<header id="header" class="clearfix">
  <div class="tips-container">
    {{if eq .Lang "zh-CN"}}
    <a class="tips" href="#"><span>1.6.0</span> 已正式发布，<span>1.6.0 文档</span> 已更新</a>
    {{end}}
    {{if eq .Lang "en-US"}}
    <a class="tips" href="#"><span>1.6.0</span> Released，<span>1.6.0 Document</span> has been updated</a>
    {{end}}

  </div>

  <nav class="nav" style="display: block;">
    <span class="bar"></span>
    <div class="row">
      <div style="margin: 0 auto;">
    <ul>
      {{range .HomeNav}}
      <li>
        <a href="{{.URL}}" class="{{.I18n}}">{{$.I18n.Tr .I18n}}</a>
      </li>
      {{end}}
    </ul>
      </div>
    </div>
  </nav>
  <div class="nav-phone-icon"></div>
</header>

<div class="feature-container">
  <div class="row">

  </div>
</div>

<div class="users-container">
  <div class="row">
    <div class="col-md-12">
      {{if eq .Lang "zh-CN"}}
      <h2 class="stick-container-slogan">我们的知名顾客</h2>
      {{end}}
      {{if eq .Lang "en-US"}}
      <h2 class="stick-container-slogan">Our well-known customers</h2>
      {{end}}
      <div class="whouse">
          <img class="img-thumbnail" src="/static/img/brands/huawei.png">
          <img class="img-thumbnail" src="/static/img/brands/360.png">
          <img class="img-thumbnail" src="/static/img/brands/youdao.png">
          <img class="img-thumbnail" src="/static/img/brands/weico.png">
          <img class="img-thumbnail" src="/static/img/brands/weibo.png">
          <img class="img-thumbnail" src="/static/img/brands/jd.png">
          <img class="img-thumbnail" src="/static/img/brands/bmob.png">
          <img class="img-thumbnail" src="/static/img/brands/ardanstudios.png">
          <img class="img-thumbnail" src="/static/img/brands/oupeng.png">
          <img class="img-thumbnail" src="/static/img/brands/meituan.png">
          <img class="img-thumbnail" src="/static/img/brands/tudou.png">
          <img class="img-thumbnail" src="/static/img/brands/lianzong.png">
          <img class="img-thumbnail" src="/static/img/brands/17173.png">
          <img class="img-thumbnail" src="/static/img/brands/taobao.png">
          <img class="img-thumbnail" src="/static/img/brands/snda.png">
          <img class="img-thumbnail" src="/static/img/brands/tencent.png">
          <img class="img-thumbnail" src="/static/img/brands/zalora.png">
          <img class="img-thumbnail" src="/static/img/brands/wepiao.png">
      </div>
    </div>
  </div>
</div>
<hr>

{{template "footer" .}}
