{{template "header" .}}
<div class="main-wrapper">

  <section class="footloose-container">
    {{if eq .Lang "zh-CN"}}
    <p class="footloose-container-describe">使用 Beego 的产品
      <br>
      <span>
        通过 GitHub 提交案例 ，如果使用GitHub有任何问题，你可以直接发送产品信息到邮箱 <a href="mailto:xiemengjun@gmail.com">xiemengjun@gmail.com</a>
      </span>
    </p>
    {{end}}
    {{if eq .Lang "en-US"}}
    <p class="footloose-container-describe">Which products use beego
      <br>
      <span>
        <a target="_blank" href="https://github.com/beego/products" >Submit your product in GitHub</a>. If you have any problem when use GitHub. You can direct send product info to mailbox: <a href="mailto:xiemengjun@gmail.com">xiemengjun@gmail.com</a>
      </span>
    </p>
    {{end}}

    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="card text-xs-center">
          <div class="card-header">
            <a target="_blank" href="">Webcron</a>
          </div>
          <div class="card-block">
            <h6 class="card-title">定时任务管理</h6>
            <img class="img-responsive" src="/static/img/products/webcron/thumb.png">
          </div>
          <div class="card-footer text-muted">
            <div class="meta">
              <span class="pull-right"><a target="_blank" href="">Open Source</a> - <a target="_blank" href="">Web</a> - 2015-12-28</span>
              <span>lisijie</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="card text-xs-center">
          <div class="card-header">
            <a target="_blank" href="">Teamkey</a>
          </div>
          <div class="card-block">
            <h6 class="card-title">Password manager for IT teams</h6>
            <img class="img-responsive" src="/static/img/products/teamkey/thumb.png">
          </div>
          <div class="card-footer text-muted">
            <div class="meta">
              <span class="pull-right"><a target="_blank" href="">Web</a> - 2015-05-28</span>
              <span>smile42ru</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="card text-xs-center">
          <div class="card-header">
            <a target="_blank" href="">好卖进销存</a>
          </div>
          <div class="card-block">
            <h6 class="card-title">个体经营者的进销存统计系统</h6>
            <img class="img-responsive" src="/static/img/products/sellgood/thumb.jpg">
          </div>
          <div class="card-footer text-muted">
            <div class="meta">
              <span class="pull-right"><a target="_blank" href="http://www.deruv.com">Web</a> - 2015-05-03</span>
              <span>deruv</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

  {{template "footer" .}}
