{{template "header" .}}
<div class="main-wrapper">

  <section class="footloose-container">
    <p class="footloose-container-describe">这是课程的详细规划:
      <br>
      <a href="https://github.com/beego/tutorial/blob/master/README_zh.md">
        https://github.com/beego/tutorial/blob/master/README_zh.md
      </a>
    </p>

    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="card text-xs-center">
          <div class="card-header">
            <p>beego入门教程第一课之设计思路</p>

          </div>
          <div class="card-block">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="http://www.tudou.com/programs/view/html5embed.action?type=0&amp;code=EliSnrCpCi4&amp;lcode=&amp;resourceId=375194595_06_05_99" allowfullscreen></iframe>
            </div>
          </div>
          <div class="card-footer text-muted block-text-align-left">
            <p>slide地址: <a href="http://go-talks.appspot.com/github.com/beego/tutorial/zh/1/why_beego.slide#1">设计思路</a></p>
            <ul>
              <li>土豆: <a href="http://www.tudou.com/programs/view/EliSnrCpCi4/">http://www.tudou.com/programs/view/EliSnrCpCi4/</a><br></li>
              <li>优酷: <a href="http://v.youku.com/v_show/id_XNzEwMTczNzY4.html">http://v.youku.com/v_show/id_XNzEwMTczNzY4.html</a><br></li>
              <li>网盘下载地址: <a href="http://pan.baidu.com/s/1pJO7btD">http://pan.baidu.com/s/1pJO7btD</a><br></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="card text-xs-center">
          <div class="card-header">
            <p>beego入门教程第二课之路由设置</p>

          </div>
          <div class="card-block">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="http://www.tudou.com/programs/view/html5embed.action?type=0&amp;code=mid55HCg1EY&amp;lcode=&amp;resourceId=375194595_06_05_99" allowfullscreen></iframe>
            </div>
          </div>
          <div class="card-footer text-muted block-text-align-left">
            <p>slide地址: <a href="http://go-talks.appspot.com/github.com/beego/tutorial/zh/2/router.slide#1">路由设置</a></p>
            <ul>
              <li>土豆：<a href="http://www.tudou.com/programs/view/mid55HCg1EY/">http://www.tudou.com/programs/view/mid55HCg1EY/</a><br></li>
              <li>51CTO: <a href="http://edu.51cto.com/lesson/id-24586.html">http://edu.51cto.com/lesson/id-24586.html</a><br></li>
              <li>网盘：<a href="http://pan.baidu.com/s/1o6jXSc6">http://pan.baidu.com/s/1o6jXSc6</a><br></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="card text-xs-center">
          <div class="card-header">
            <p>beego入门教程第三课之参数设置</p>

          </div>
          <div class="card-block">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="http://www.tudou.com/programs/view/html5embed.action?type=0&amp;code=U1MiDKq4JdQ&amp;lcode=&amp;resourceId=375194595_06_05_99" allowfullscreen></iframe>
            </div>
          </div>
          <div class="card-footer text-muted block-text-align-left">
            <p>slide地址: <a href="http://go-talks.appspot.com/github.com/beego/tutorial/zh/3/params.slide#1">参数设置</a></p>
            <ul>
              <li>土豆：<a href="http://www.tudou.com/programs/view/U1MiDKq4JdQ/">http://www.tudou.com/programs/view/U1MiDKq4JdQ/</a><br></li>
              <li>51CTO: <a href="http://edu.51cto.com/lesson/id-24586.html">http://edu.51cto.com/lesson/id-24586.html</a><br></li>
              <li>网盘：<a href="http://pan.baidu.com/s/1i32zA41">http://pan.baidu.com/s/1i32zA41</a><br></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </section>

</div>

{{template "footer" .}}
