{{template "header" .}}
<div class="main-wrapper">
    <section class="footloose-container">
        <h4>Desc:{{.Video.Desc}}</h4>
        <ul>
            {{range .Video.List}}
                <li>{{.index}} - {{.title}}</li>
            {{end}}
        </ul>
    </section>
  <section class="footloose-container">
    <p class="footloose-container-describe">This is the tutorial schedule:
      <br>
      <a href="https://github.com/beego/tutorial">
        https://github.com/beego/tutorial
      </a>
    </p>

    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="card text-xs-center">
          <div class="card-header">
            <p>1. Beego Framework Tutorials - 1 - Introduction to Beego</p>

          </div>
          <div class="card-block">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="http://www.tudou.com/programs/view/html5embed.action?type=0&amp;code=EliSnrCpCi4&amp;lcode=&amp;resourceId=375194595_06_05_99" allowfullscreen></iframe>
            </div>
          </div>
          <div class="card-footer text-muted block-text-align-left">
            <p>slide: <a href="http://go-talks.appspot.com/github.com/beego/tutorial/en/1/why_beego.slide#1">Introduction to beego</a></p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="card text-xs-center">
          <div class="card-header">
            <p>2. Beego Framework Tutorials - 2 - Router (part 1 of 3)</p>

          </div>
          <div class="card-block">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="http://www.tudou.com/programs/view/html5embed.action?type=0&amp;code=mid55HCg1EY&amp;lcode=&amp;resourceId=375194595_06_05_99" allowfullscreen></iframe>
            </div>
          </div>
          <div class="card-footer text-muted block-text-align-left">
            <p>slide: <a href="http://go-talks.appspot.com/github.com/beego/tutorial/en/2/router.part1.slide">Router Processor function/method</a></p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="card text-xs-center">
          <div class="card-header">
            <p>3. Beego Framework Tutorials - 2 - Router URI Patterns (part 2 of 3)</p>

          </div>
          <div class="card-block">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="http://www.tudou.com/programs/view/html5embed.action?type=0&amp;code=U1MiDKq4JdQ&amp;lcode=&amp;resourceId=375194595_06_05_99" allowfullscreen></iframe>
            </div>
          </div>
          <div class="card-footer text-muted block-text-align-left">
            <p>slide: <a href="http://go-talks.appspot.com/github.com/beego/tutorial/en/2/router.part2.slide">Router RUI Patterns</a></p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="card text-xs-center">
          <div class="card-header">
            <p>4. Beego Framework Tutorials - 2 - Router Namespace (part 3 of 3)</p>

          </div>
          <div class="card-block">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="http://www.tudou.com/programs/view/html5embed.action?type=0&amp;code=U1MiDKq4JdQ&amp;lcode=&amp;resourceId=375194595_06_05_99" allowfullscreen></iframe>
            </div>
          </div>
          <div class="card-footer text-muted block-text-align-left">
            <p>slide: <a href="http://go-talks.appspot.com/github.com/beego/tutorial/en/2/router.part3.slide">Router Namespace</a></p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="card text-xs-center">
          <div class="card-header">
            <p>5. Beego Framework Tutorials - 3 - Configuration Parameters</p>

          </div>
          <div class="card-block">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="http://www.tudou.com/programs/view/html5embed.action?type=0&amp;code=U1MiDKq4JdQ&amp;lcode=&amp;resourceId=375194595_06_05_99" allowfullscreen></iframe>
            </div>
          </div>
          <div class="card-footer text-muted block-text-align-left">
            <p>slide: <a href="http://go-talks.appspot.com/github.com/beego/tutorial/en/3/params.slide">Configuration Parameters</a></p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="card text-xs-center">
          <div class="card-header">
            <p>6. Beego Framework Tutorials - 4 - Create a Web API Application in One Minute in Beego</p>

          </div>
          <div class="card-block">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="http://www.tudou.com/programs/view/html5embed.action?type=0&amp;code=U1MiDKq4JdQ&amp;lcode=&amp;resourceId=375194595_06_05_99" allowfullscreen></iframe>
            </div>
          </div>
          <div class="card-footer text-muted block-text-align-left">
            <p>slide: <a href="http://beego.me/blog/beego_api">Building Web API with Auto Generated API Document Support</a></p>
          </div>
        </div>
      </div>
    </div>

  </section>

</div>

{{template "footer" .}}
