@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);

body {
    font-family:Lato, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", SimSun, sans-serif;
    line-height: 1.5;
    color: #444;
    font-size: 16px;
    background: #FFF;
    overflow-x: hidden;
}

html, body, ul, li, p {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    margin: 0;
    padding: 0
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block
}

*, *:after, *:before {
    box-sizing: border-box;
}

.clearfix:after {
    clear: both;
    display: table;
    content: '';
}

::-moz-selection {
    background: #2db7f5;
    color: #fff;
}

::selection {
    background: #2db7f5;
    color: #fff;
}

::-moz-selection {
    background: #2db7f5;
    color: #fff;
}

a {
    color: #2db7f5;
    background: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}

a:hover {
    color: #57c5f7
}

a:active {
    color: #2baee9
}

a:active, a:hover {
    outline: 0;
    text-decoration: none
}

a[disabled] {
    color: #ccc;
    cursor: not-allowed;
    pointer-events: none
}

header {
    width: 100%;
    background: #fff;
    font-size: 16px;
    margin-bottom: 24px;
}

.tips-container {
    display: none;
    position: absolute;
    left: 50%;
    text-align: center;
}

a.tips {
    font-size: 12px;
    border-left: 1px solid #ABB5C3;
    border-right: 1px solid #ABB5C3;
    border-bottom: 1px solid #ABB5C3;
    margin-left: -100%;
    padding: 4px 10px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 1px 2px #F0F0F0;
}

a.tips span {
    color: #ABB5C3;
}

a.logo {
    float: left;
    height: 40px;
    line-height: 40px;
    margin: 20px 0 20px 4%;
    text-transform: uppercase;
    font-size: 0;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", sans-serif;
    color: #2db7f5;
    width: 246px;
}

.logo img {
    width: 128px;
    float: left;
    margin-right: 8px;
}

.search {
    float: left;
    height: 20px;
    padding: 0px 0 0 30px;
    margin: 30px auto 0;
    border-left: 1px solid #e9e9e9;
    position: relative;
}

header .nav {
    height: 80px;
    line-height: 80px;
    font-size: 0.875em;
    position: relative;
    align-items: center;
    overflow: hidden;
}

.nav-right {
    margin-right: 4%;
    float: right;
}

header .nav ul li {
    float: left;
    text-align: center;
}

header .nav ul li a {
    color: #666;
    width: 100%;
    height: 100%;
    display: block;
    padding: 0 22px;
    font-size: 16px;
}

a.nav-link-disabled {
    cursor: not-allowed;
    color: #ccc !important;
    pointer-events: none;
}

header .nav ul li.current a {
    color: #2db7f5;
    font-weight: 600;
}

header .nav ul li a:hover, .nav ul li .hover {
    color: #2db7f5;
}

header .nav .bar {
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #2db7f5;
    display: none;
    -webkit-transition: left .3s cubic-bezier(0.075, 0.82, 0.165, 1), width 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: left .3s cubic-bezier(0.075, 0.82, 0.165, 1), width 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-wrapper {
    background: #fff;
    width: 92%;
    margin: 0 auto;
    border-radius: 6px;
    overflow: hidden;
    padding: 24px 0 0;
    margin-bottom: 24px;
    position: relative;
}

.aside-container {
    width: 220px;
    padding-bottom: 50px;
    float: left;
    border-right: 1px solid #e9e9e9;
    margin-right: -1px;
}

.aside-container > ul > li {
    overflow: hidden;
    position: relative;
    right: -1px;
    z-index: 1;
}

.aside-container > ul > li > ul {
    margin-left: 16px;
}

.aside-container li h4 {
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    height: 40px;
    margin: 0;
    cursor: pointer;
    position: relative;
    z-index: 1;
    position: relative;
    background: #fff;
    border-right: 1px solid #e9e9e9;
}

.aside-container li h4:after {
    position: absolute;
    top: 0;
    right: 20px;
    content: "\E602";
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    font-size: 12px;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.aside-container li[open=open] h4:after {
    -webkit-transform: scale(0.6) rotate(180deg);
    transform: scale(0.6) rotate(180deg);
}

.aside-container li:hover h4:after {
    opacity: 0.8;
}

.aside-container li > ul.aside-list-show {
    display: block;
}

.aside-container li a {
    line-height: 40px;
    height: 40px;
    display: block;
    padding-left: 24px;
    font-size: 14px;
    color: #666;
}

.aside-container .no-url {
    padding-left: 12px;
    color: #AAA;
}

.aside-container li.type-divider {
    font-size: 14px;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    color: #aaa;
    margin: 6px 0 6px 24px;
}

.aside-container .chinese {
    font-size: 12px;
    margin-left: 6px;
    font-weight: normal;
    opacity: 0.67;
}

.aside-container li a:hover {
    color: #2db7f5;
}

.aside-container .current {
    border-right: 2px solid #2db7f5;
    color: #2db7f5;
}

.aside-container .current a {
    color: #2db7f5;
}

.main-container {
    border-left: 1px solid #e9e9e9;
    margin-left: 219px;
    padding: 0 40px 120px;
    background: #fff;
    min-height: 500px;
    overflow: hidden;
}

/* #footer -- begin -- */
#footer{
    clear: both;
    border-top: 1px solid #eee;
    background: #fff;
    position: relative;
    z-index: 1;
    color: #666;
    padding: 2rem 0 4rem 0;
    font-size: .9rem;
    line-height: 2rem
}
#footer ul li {
    display: block;
}
#footer h5{
    padding-bottom: 1rem;
}
#footer ul li a{
    color: #0275d8;
}
/* #footer -- end -- */



.markdown {
    color: #666;
    font-size: 14px;
    line-height: 1.8;
}

.highlight {
    line-height: 1.5;
}

.markdown img {
    vertical-align: middle;
    max-width: 100%;
}

.markdown h1 {
    color: #404040;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 24px;
}

.markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
    color: #404040;
    margin: 1.6em 0 0.6em 0;
    font-weight: 500;
    clear: both;
}

.markdown h1 {
    font-size: 28px;
}

.markdown h2 {
    font-size: 22px;
}

.markdown h3 {
    font-size: 18px;
}

.markdown h4 {
    font-size: 16px;
}

.markdown h5 {
    font-size: 14px;
}

.markdown h6 {
    font-size: 12px;
}

.markdown hr {
    height: 1px;
    border: 0;
    background: #e9e9e9;
    margin: 16px 0;
    clear: both;
}

.markdown p, .markdown pre {
    margin: 1em 0;
}

.markdown > p, .markdown > blockquote, .markdown > .highlight, .markdown > ol, .markdown > ul {
    width: 80%;
}

.markdown ul > li {
    list-style: circle;
}

.markdown > ul li, .markdown blockquote ul > li {
    margin-left: 20px;
    padding-left: 4px;
}

.markdown > ul li p, .markdown > ol li p {
    margin: 0.6em 0;
}

.markdown ol > li {
    list-style: decimal;
}

.markdown > ol li, .markdown blockquote ol > li {
    margin-left: 20px;
    padding-left: 4px;
}

.markdown code {
    margin: 0 3px;
}

.markdown pre {
    border-radius: 6px;
    background: #f9f9f9;
}

.markdown pre code {
    border: none;
    padding: 1em 2em;
    background: #f9f9f9;
    margin: 0;
}

.markdown strong, .markdown b {
    font-weight: 600;
}

.markdown > table {
    border-collapse: collapse;
    border-spacing: 0px;
    empty-cells: show;
    border: 1px solid #e9e9e9;
    width: 80%;
    margin-bottom: 24px;
}

.markdown > table th {
    white-space: nowrap;
    color: #5C6B77;
    font-weight: 600;
}

.markdown > table th, .markdown > table td {
    border: 1px solid #e9e9e9;
    padding: 8px 16px;
    text-align: left;
}

.markdown > table th {
    background: #F7F7F7;
}

.markdown blockquote {
    font-size: 90%;
    color: #999;
    border-left: 4px solid #e9e9e9;
    padding-left: 0.8em;
    margin: 1em 0;
}

.markdown blockquote p {
    margin: 0;
}

.markdown .anchor {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    margin-left: 8px;
}

.markdown h1:hover .anchor, .markdown h2:hover .anchor, .markdown h3:hover .anchor, .markdown h4:hover .anchor, .markdown h5:hover .anchor, .markdown h6:hover .anchor {
    opacity: 1;
    display: inline-block;
}

.markdown > br, .markdown > p > br {
    clear: both;
}

.toc {
    font-size: 14px;
    margin-bottom: 20px;
    background: #fbfbfb;
    border-left: 2px solid #eee;
}

.toc > ul {
    padding: 8px 0;
}

.toc > ul li {
    list-style: none;
}

.toc li > ul {
    text-indent: 8px;
    font-size: 12px;
    display: none;
}

.toc a {
    padding-left: 16px;
    border-left: 2px solid #eee;
    margin-left: -2px;
    display: block;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    color: #666;
}

.toc a:hover {
    color: #2db7f5;
}

.toc a.current {
    border-color: #2db7f5;
    color: #2db7f5;
}

pre code {
    display: block;
    background: white;
    color: #666;
    line-height: 1.5;
    border: 1px solid #e9e9e9;
    padding: 10px 15px;
    border-radius: 6px;
    font-size: 0.9rem;
    white-space: pre;
}

.code-boxes-col-1-1 {
    width: 80%;
}

.code-boxes-col-2-1 {
    width: 48%;
    display: inline-block;
    vertical-align: top;
    padding-right: 8px;
}

.code-boxes-col-2-1:last-child {
    padding-right: 0;
    padding-left: 8px;
}

.code-box {
    border: 1px solid #E9E9E9;
    border-radius: 6px;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0px 0 16px 0px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.code-box:hover {
    border-color: #ccc;
}

.code-box:target {
    border: 1px solid rgba(45, 183, 245, 0.7);
    box-shadow: 0 0 4px rgba(45, 183, 245, 0.5);
}

.code-box:hover .code-box-meta, .code-box:target .code-box-meta {
    background: #fbfbfb;
}

.code-box:hover .code-box-title, .code-box:target .code-box-title {
    background: #fbfbfb;
    box-shadow: 0 -1.2px 0 #e9e9e9;
}

.code-box .code-box-title a, .code-box .code-box-title a:hover {
    color: #666;
}

.code-box .code-box-demo {
    border-bottom: 1px solid #E9E9E9;
    padding: 42px 20px 50px;
}

.code-box-meta {
    position: relative;
    padding: 10px 15px;
    border-radius: 0 0 6px 6px;
    -webkit-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
    width: 100%;
}

.code-box-meta h4, .code-box-meta p {
    margin: 0;
}

.code-box-title {
    position: absolute;
    top: -14px;
    padding: 1px 1.1em;
    color: #777;
    border-radius: 6px;
    background: #fff;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.code-box-title:before {
    content: "\E658";
    font-size: 16px;
    vertical-align: middle;
    line-height: 22px;
    position: relative;
    margin-right: 8px;
    top: -2px;
    color: #ccc;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: inline-block;
}

.code-box-meta > p {
    font-size: 12px;
    margin: 0.5em 0;
    padding-right: 25px;
    width: 100%;
}

.code-box .collapse {
    position: absolute;
    right: 16px;
    bottom: 18px;
    cursor: pointer;
    width: 18px;
    height: 18px;
    font-size: 18px;
    line-height: 18px;
    opacity: 0.5;
    text-align: center;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #999;
    background: #fff;
}

.code-box.expand .collapse {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.code-box .collapse:hover {
    opacity: 1;
}

.code-box .highlight {
    overflow: hidden;
    display: none;
    padding: 5px;
    border-top: 1px dashed #e9e9e9;
}

.code-box pre {
    margin: 0;
    width: auto;
}

.code-box pre code {
    border: none;
    background: #fff;
}

.prev-next-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    font-size: 16px;
    padding-left: 220px;
}

.prev-next-nav > .prev-page, .prev-next-nav > .next-page {
    padding: 0 24px;
    width: 50%;
    float: left;
    line-height: 72px;
    height: 72px;
    border-top: 1px solid #e9e9e9;
}

.prev-next-nav > a.prev-page:before {
    content: '\E601';
    font-size: 12px;
    margin-right: 1em;
}

.prev-next-nav > .next-page {
    text-align: right;
    float: right;
}

.prev-next-nav > a.next-page:after {
    content: '\E600';
    font-size: 12px;
    margin-left: 1em;
}

.choose-lang-container {
    margin: 0;
}

.choose-lang {
    margin-left: 0px;
    padding: 0;
    background: transparent;
    color: #0275d8;
}

.choose-lang-menu {
    margin: 0;
    min-width: 90px;
    z-index: 1070;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.17);
}

.choose-lang-item {
    font-size: 12px;
}

.flex-center {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.stick-container {
    height: 678px;
    overflow: hide;
    background-color: #FFF;
}

.stick-container-logo {
    margin: 0 auto;
}

.stick-container-title {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 0.67em;
    margin-bottom: 11px;
    font-size: 72px;
    letter-spacing: .15em;
    font-weight: 100;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    line-height: 1;
}

#nav{
    max-width: 1170px;
    margin: auto;
}

#section {
    height: 100%;
}

#logo-hero-container{
    padding: 2rem 0;
}

#logo-img{
    width: 360px;
}

#code-start-container {
    padding: 1rem 0 2.5rem 0;
    width: 400px;
    margin: 0 auto;
}

#code-start-command {
    text-align: left;
    color: #FAFAFA;
    background: #444;
    font-family: Monaco, Source Code Pro, Menlo, Consolas, monospace;
    padding: 1rem 1.2rem;
    line-height: 2rem;
    border-radius: .3rem;
}

#code-start-command .comment-word {
    font-style: italic;
    color: #BBB;
    font-size: .9em;
}

#slogan {
    font-size: 28px;
    line-height: 2em;
    font-weight: 800;
    letter-spacing: -.02em;
    margin: 0 auto;
    width: 500px;
}

#install-container{
    margin-top: 2rem;
}

#nav{
    text-align: center;
    padding: 0;
}

#nav .navbar-nav .nav-item{
    display: inline-block;
    float: none;
}


#nav .navbar-nav .nav-link{
    color: #EEE;
    line-height: 80px;
    font-size: 1.05rem;
    padding: 0 .5rem;
}

#nav-beego-logo img{
    margin-top: -8px;
}


.stick-container-btn {
    color: #fff;
    background-color: #2DB7F5;
    border-color: #259BCF;
}

.stick-container-btn-others {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.code-container {
    padding: 24px;
    padding-left: 144px;
    padding-right: 144px;
}

.code-container a {
    color: #FFF;
}

.code-container a.dropdown-item {
    font-size: 14px;
    color: #55595c;
}

.code-container .tab-content {
    background-color: #FFF;
    height: 262px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 4px 8px 8px;
    text-align: left;
    padding: 24px;
    overflow: auto;
}

pre code.go {
    border: none;
    padding: 0px;
    font-size: 12px;
    background: #f9f9f9;
    margin: 0;
}

.text-center {
    text-align: center;
}

/* #feature-container -- begin -- */
#feature-container {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
    padding-top: 14px;
    padding-bottom: 28px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #FFF;
}

.feature-hr,
.users-hr{
    box-sizing: border-box;
    width: 50%;
    float: left;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2rem;
    margin-bottom: 3.2rem;
    clear: both;
    background-color: #e6e6e6;
    border: 0;
    color: #666;
    display: block;
    height: 2px;
}

.feature-title,
.feature-link .btn {
    margin-top: 2rem;
    font-weight: bold;
    margin-bottom: 2rem
}

.feature-content{
    max-width: 768px;
    margin: auto;
    font-size: 1.1rem;
    line-height: 2rem;
}

.feature-code{
    width: 320px;
    margin: auto;
    background-color: #373232;
    border-radius: 1rem;
    color: #F7F7F7;
    padding: 1.5rem;
    text-align: left;
}
/* #feature-container -- end -- */

/* #users-container -- begin -- */
#users-container .whouse{
    margin: 2rem auto 3rem auto;
    max-width: 768px;
}
#users-container .whouse img{
    margin: .5rem 1rem;
}
/* #users-container -- end -- */

/* #video */

#video{
    line-height: 3rem;
    margin: 2rem auto;
}

#video-title{
    margin-bottom: 2rem;
}

#video-list li {
    display: inline-block;
    max-width: 45%;
    margin: 1rem;
}

#video-list .title{
    margin-bottom: 1rem;
}


.feature-container h6 {
    margin-top: 14px;
}

.feature-container p {
    margin-top: 14px;
}

.lead-container {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 128px;
    text-align: center;
    overflow: hide;
    background-color: #FEBF02;
}

.lead-container p {
    color: #FFF;
    font-size: 16px;
    padding: 14px;
}

.lead-container.btn {
    margin-bottom: 14px;
    background: #2DB7F5;
    color: #FFF;
}

.footloose-container {
    margin-left: 0;
    padding: 0 40px 120px;
    background: #fff;
    min-height: 500px;
    overflow: hidden;
}

.footloose-container-describe {
    font-size: 14px;
    margin-bottom: 20px;
    background: #fbfbfb;
    padding: 6px;
    border-radius: 6px;
}

.block-text-align-left {
    text-align: left;
}

.option-chooser-blocks {
    position: relative;
    margin-left: -8px;
}

.option-chooser-blocks li {
    list-style-type: none;
    display: block;
    float: left;
    height: 115px;
    width: 115px;
    background-color: #eaeaea;
    border: 2px solid #b0c0bf;
    margin: 6px;
    text-align: center;
    padding: 5px;
}

.option-chooser-blocks a {
    color: black;
}

/* 特性部分 */
.feature-container {
}

.feature-wrapper {
    text-align: center;
    padding: 2em;
    padding-top: 60px;
    padding-bottom: 60px;
}

.steps {
    margin: 0 auto;
    height: 22em;
    list-style: none;
    width: 22em;
    z-index: 0;
    position: relative;
    color: #fff;
    border: 2px solid white;
    border-radius: 50%;
}

.steps__icon {
    padding-top: 2.5em;
    width: 50%;
}

.steps__description {
    padding: 0em 4em;
    position: absolute;
    bottom: 2.5em;
    font-size: 0.9em;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.steps__description span {
    font-weight: bold;
    padding-right: 0.3em;
}

.steps__description a {
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border: 1px solid #373232;
    border-radius: 0.2em;
    color: #373232;
    text-decoration: none;
    display: inline-block;
    padding: 0.2em 0.5em;
    margin-top: 0.6em;
    font-size: 0.9em;
}

.steps__description a:hover {
    border: 1px solid #fff;
    color: #fff;
    background: #373232;
}

.is-active a {
    font-size: 2em !important;
    background: #373232 !important;
}

#steps-menu ul li {
    -moz-transition: all 1.2s ease-in-out;
    -o-transition: all 1.2s ease-in-out;
    -webkit-transition: all 1.2s ease-in-out;
    -ms-transition: all 1.2s ease-in-out;
    transition: all 1.2s ease-in-out;
    border-left: 140px solid transparent;
    border-top: 1px solid transparent;
    font-size: 0.65em;
    left: 50%;
    list-style: none;
    position: absolute;
    top: 50%;
    transform-origin: 0 0;
}

#steps-menu ul li:after {
    content: " ";
    width: 0.7em;
    height: 0.4em;
    margin-left: -0.14em;
    margin-top: -2.1em;
    position: absolute;
    font-size: 3.5em;
    background-size: 100%;
    background-color: transparent;
    transform: rotate(-29deg);
    background-repeat: no-repeat;
}

#steps-menu ul li a {
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background: #2DB7F5;
    color: #fff;
    text-decoration: none;
    position: absolute;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    height: 2em;
    width: 2em;
    font-size: 1.6em;
    line-height: 2;
    box-shadow: 0 0 0 0 transparent;
}

#steps-menu ul li a:hover {
    background: #373232;
    box-shadow: 0 0 0px 3px #373232;
}

.step-1 ul li:nth-of-type(1) {
    transform: rotate(-97deg);
}

.step-1 ul li:nth-of-type(1) a {
    transform: rotate(97deg);
}

.step-2 ul li:nth-of-type(1) {
    transform: rotate(-157deg);
}

.step-2 ul li:nth-of-type(1) a {
    transform: rotate(157deg);
}

.step-3 ul li:nth-of-type(1) {
    transform: rotate(-217deg);
}

.step-3 ul li:nth-of-type(1) a {
    transform: rotate(217deg);
}

.step-4 ul li:nth-of-type(1) {
    transform: rotate(-277deg);
}

.step-4 ul li:nth-of-type(1) a {
    transform: rotate(277deg);
}

.step-5 ul li:nth-of-type(1) {
    transform: rotate(-337deg);
}

.step-5 ul li:nth-of-type(1) a {
    transform: rotate(337deg);
}

.step-6 ul li:nth-of-type(1) {
    transform: rotate(-397deg);
}

.step-6 ul li:nth-of-type(1) a {
    transform: rotate(397deg);
}

.step-1 ul li:nth-of-type(2) {
    transform: rotate(-37deg);
}

.step-1 ul li:nth-of-type(2) a {
    transform: rotate(37deg);
}

.step-2 ul li:nth-of-type(2) {
    transform: rotate(-97deg);
}

.step-2 ul li:nth-of-type(2) a {
    transform: rotate(97deg);
}

.step-3 ul li:nth-of-type(2) {
    transform: rotate(-157deg);
}

.step-3 ul li:nth-of-type(2) a {
    transform: rotate(157deg);
}

.step-4 ul li:nth-of-type(2) {
    transform: rotate(-217deg);
}

.step-4 ul li:nth-of-type(2) a {
    transform: rotate(217deg);
}

.step-5 ul li:nth-of-type(2) {
    transform: rotate(-277deg);
}

.step-5 ul li:nth-of-type(2) a {
    transform: rotate(277deg);
}

.step-6 ul li:nth-of-type(2) {
    transform: rotate(-337deg);
}

.step-6 ul li:nth-of-type(2) a {
    transform: rotate(337deg);
}

.step-1 ul li:nth-of-type(3) {
    transform: rotate(23deg);
}

.step-1 ul li:nth-of-type(3) a {
    transform: rotate(-23deg);
}

.step-2 ul li:nth-of-type(3) {
    transform: rotate(-37deg);
}

.step-2 ul li:nth-of-type(3) a {
    transform: rotate(37deg);
}

.step-3 ul li:nth-of-type(3) {
    transform: rotate(-97deg);
}

.step-3 ul li:nth-of-type(3) a {
    transform: rotate(97deg);
}

.step-4 ul li:nth-of-type(3) {
    transform: rotate(-157deg);
}

.step-4 ul li:nth-of-type(3) a {
    transform: rotate(157deg);
}

.step-5 ul li:nth-of-type(3) {
    transform: rotate(-217deg);
}

.step-5 ul li:nth-of-type(3) a {
    transform: rotate(217deg);
}

.step-6 ul li:nth-of-type(3) {
    transform: rotate(-277deg);
}

.step-6 ul li:nth-of-type(3) a {
    transform: rotate(277deg);
}

.step-1 ul li:nth-of-type(4) {
    transform: rotate(83deg);
}

.step-1 ul li:nth-of-type(4) a {
    transform: rotate(-83deg);
}

.step-2 ul li:nth-of-type(4) {
    transform: rotate(23deg);
}

.step-2 ul li:nth-of-type(4) a {
    transform: rotate(-23deg);
}

.step-3 ul li:nth-of-type(4) {
    transform: rotate(-37deg);
}

.step-3 ul li:nth-of-type(4) a {
    transform: rotate(37deg);
}

.step-4 ul li:nth-of-type(4) {
    transform: rotate(-97deg);
}

.step-4 ul li:nth-of-type(4) a {
    transform: rotate(97deg);
}

.step-5 ul li:nth-of-type(4) {
    transform: rotate(-157deg);
}

.step-5 ul li:nth-of-type(4) a {
    transform: rotate(157deg);
}

.step-6 ul li:nth-of-type(4) {
    transform: rotate(-217deg);
}

.step-6 ul li:nth-of-type(4) a {
    transform: rotate(217deg);
}

.step-1 ul li:nth-of-type(5) {
    transform: rotate(143deg);
}

.step-1 ul li:nth-of-type(5) a {
    transform: rotate(-143deg);
}

.step-2 ul li:nth-of-type(5) {
    transform: rotate(83deg);
}

.step-2 ul li:nth-of-type(5) a {
    transform: rotate(-83deg);
}

.step-3 ul li:nth-of-type(5) {
    transform: rotate(23deg);
}

.step-3 ul li:nth-of-type(5) a {
    transform: rotate(-23deg);
}

.step-4 ul li:nth-of-type(5) {
    transform: rotate(-37deg);
}

.step-4 ul li:nth-of-type(5) a {
    transform: rotate(37deg);
}

.step-5 ul li:nth-of-type(5) {
    transform: rotate(-97deg);
}

.step-5 ul li:nth-of-type(5) a {
    transform: rotate(97deg);
}

.step-6 ul li:nth-of-type(5) {
    transform: rotate(-157deg);
}

.step-6 ul li:nth-of-type(5) a {
    transform: rotate(157deg);
}

.step-1 ul li:nth-of-type(6) {
    transform: rotate(203deg);
}

.step-1 ul li:nth-of-type(6) a {
    transform: rotate(-203deg);
}

.step-2 ul li:nth-of-type(6) {
    transform: rotate(143deg);
}

.step-2 ul li:nth-of-type(6) a {
    transform: rotate(-143deg);
}

.step-3 ul li:nth-of-type(6) {
    transform: rotate(83deg);
}

.step-3 ul li:nth-of-type(6) a {
    transform: rotate(-83deg);
}

.step-4 ul li:nth-of-type(6) {
    transform: rotate(23deg);
}

.step-4 ul li:nth-of-type(6) a {
    transform: rotate(-23deg);
}

.step-5 ul li:nth-of-type(6) {
    transform: rotate(-37deg);
}

.step-5 ul li:nth-of-type(6) a {
    transform: rotate(37deg);
}

.step-6 ul li:nth-of-type(6) {
    transform: rotate(-97deg);
}

.step-6 ul li:nth-of-type(6) a {
    transform: rotate(97deg);
}

.step-content {
    display: none;
}

#step-1 {
    display: block;
}

/* end */
.users-container {
    background-color: #FFF;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
}

.blog-wrapper {
    background: #fff;
    width: 92%;
    margin: 0 auto;
    border-radius: 6px;
    overflow: hidden;
    padding: 24px;
    margin-bottom: 24px;
    position: relative;
}

/* responsive style */
@media only screen and (min-width: 320px) and (max-width: 1024px) {
    .search {
        display: none;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    header .nav, header .search {
        display: none;
    }

    header .nav {
        position: absolute;
        z-index: 1000;
        top: 50px;
        right: 0;
        background: #fff;
        overflow: hidden;
        height: auto;
        line-height: 50px;
        margin-right: 0;
        border: 1px solid #e9e9e9;
        width: 50%;
    }

    header .nav .bar {
        display: none !important;
    }

    header .nav ul li {
        width: 100%;
    }

    .nav-phone-icon {
        display: block;
        width: 49px;
        height: 49px;
        float: right;
        cursor: pointer;
        background: #BEC4C8;
    }

    .nav-phone-icon:before, .nav-phone-icon:after {
        content: "";
        display: block;
        border-radius: 1px;
        width: 15px;
        height: 2px;
        background: #EBEDEE;
        margin: 20px 0 0 18px;
    }

    .nav-phone-icon:after {
        margin-top: 5px;
    }

    .logo {
        margin: 10px;
        height: auto;
    }

    .aside-container {
        float: none;
        width: auto;
    }

    .main-container {
        margin-left: 0;
    }

    footer ul li {
        float: none;
        width: auto;
        text-align: center
    }

    .markdown {
        width: 100%;
    }

    .markdown {
        color: #666;
        font-size: 14px;
        line-height: 1.8;
    }

    .footloose-container {
        margin-left: 0;
    }

    .code-container {
        padding: 24px;
    }
}
