<p>This manual documents aspects of Beego app framework.</p>

<h3>New to Beego?</h3>

<p>Read about the <a href="quickstart">Quick Start</a>.</p>

<h3>Can’t find what you’re looking for?</h3>

<p>Search our <a href="https://groups.google.com/forum/#!forum/beego-framework">mailing list (beego-framework@googlegroups.com)</a>.</p>

<h3>Need help?</h3>

<p>Send an email to the <a href="mailto:beego-framework@googlegroups.com">beego-framework@googlegroups.com</a>.</p>

<h3>Find a bug?</h3>

<p>Open an <a href="https://github.com/astaxie/beego/issues">issue on github</a>.</p>

<h3>Want to be a contributor?</h3>

<p>Fork the <a href="https://github.com/beego/beedoc">documentation project</a>, edit and pull request.</p>

<h3>Source code of this website?</h3>

<p>Please visit <a href="https://github.com/beego/beeweb">Beego Web</a>.</p>
