<div class="main-wrapper">

  <section class="footloose-container">

    <p class="footloose-container-describe">About the community
      <br>
      <span>
        Join the developers who are helping to lead the beego revolution! Joining our community is a great way to interact with other talented developers and devops professionals, increase awareness of the work that you are doing, improve your skills, or give back.
      </span>
    </p>

    <p class="footloose-container-describe">Get in touch
      <br>
      <span>
        There are several ways to get in touch:
      </span>
    </p>

    <article class="markdown">
      <div id="doc-content">
        <ul id="chooser-blocks" class="option-chooser-blocks">
          <a target="_blank" href="https://groups.google.com/forum/#!forum/beego-framework">
            <li>Google groups<img src="/static/img/community/google-groups.png" class="img-responsive"> </li>
          </a>

          <a target="_blank" href="http://github.com/astaxie/beego">
            <li>Github<img src="/static/img/community/github.png" class="img-responsive"> </li>
          </a>

          <a target="_blank" href="http://stackoverflow.com/search?q=beego">
            <li>Stackoverflow<img src="/static/img/community/stackoverflow.png" class="img-responsive"> </li>
          </a>

          <a target="_blank" href="http://twitter.com/astaxie/">
            <li>Twitter<img src="/static/img/community/twitter.png" class="img-responsive"> </li>
          </a>
        </ul>

        <span class="clearfix"></span>

        <h3>More options:</h3>
        <ul>
          <li>Sina Weibo: <a target="_blank" href="http://weibo.com/1889019865">@asta谢</a></li>
          <li>Beego developer QQ Group: 258969317(Be sure that you contributed before you ask to join) </li>
        </ul>

        <h2>Share</h2>
        <p>
          Sharing what you have built with beego is a great way to help people understand the value of beego. If you have a great story to tell we'll be happy to help you spread the word.
        </p>
        <ul>
          <li>Tell your story at a company tech talk, tweet (#beego, @beego) present at your local user group, or submit a talk proposal to a conference or event about how you are using beego.</li>
          <li>If you are using beego, in production, become a public reference.</li>
          <li>Write a tutorial.</li>
        </ul>

        <h2>Contribute</h2>
        <p>
          An Open Source project like beego couldn’t exist without contributions from the developer community. Until now, there are over 35 contributors and nearly 410 forks on the project.
        </p>
        <ul>
          <li>Take a look at our <a target="_blank" href="https://github.com/astaxie/beego/issues?state=open">issues list</a> and consider submitting a patch</li>
          <li>Review our roadmap on <a target="_blank" href="https://github.com/astaxie/beego">GitHub</a> and provide feedback</li>
          <li>Consider contributing.</li>
        </ul>
        <p>
          We run the <a href="/docs/intro/">documentation</a> as an open source project. The sources are available from the main <a target="_blank" href="https://github.com/beego/beedoc">beedoc repository</a> on Github, and we encourage you to make improvements, whether big or small, make a pull request.
        </p>

        <h2>What people have already built using beego</h2>
        <p>
          Beego is a powerful framework for many different use cases. Here are some great early use cases for beego, as described by members of our community.
        </p>

        <table class="docker_use_cases_table table">
          <thead>
            <tr>
              <td>Use Cases</td>
              <td>Examples</td>
              <td>Links</td>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Documentation server</td>
              <td>Go Walker - a web server that generates Go projects API documentation with source code on the fly.</td>
              <td><a target="_blank" href="http://gowalker.org">http://gowalker.org</a></td>
            </tr>

            <tr>
              <td>API services</td>
              <td>360 search API service for Youdao, tens of millions requests level.</td>
            </tr>

            <tr>
              <td></td>
              <td>Bmob mobile cloud API service, more than 50 million requests every day.</td>
            </tr>

            <tr>
              <td></td>
              <td>Weico 3 backend API service.</td>
            </tr>

            <tr>
              <td>Blogs</td>
              <td>Sudo China - multiple users blog system</td>
              <td><a target="_blank" href="http://www.sudochina.com">http://sudochina.com</a></td>
            </tr>

            <tr>
              <td>Communities</td>
              <td>Very Hour - social network</td>
              <td><a target="_blank" href="http://www.veryhour.com">http://veryhour.com</a></td>
            </tr>

            <tr>
              <td>Enterprise websites</td>
              <td>I Beautys</td>
              <td><a target="_blank" href="http://ibeautys.com/">http://ibeautys.com/</a></td>
            </tr>

            <tr>
              <td></td>
              <td>Interla</td>
              <td><a target="_blank" href="http://interla.net">http://interla.net</a></td>
            </tr>

          </tbody>
        </table>
        <a href="https://github.com/beego/beedoc/blob/master/zh-CN/usecases.md" class="pull-right" target="_blank">Add your use case</a>

      </div>
    </article>

  </section>

</div>
