<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h5>Github</h5>
            <ul>
                <li><a class="github-button" href="https://github.com/astaxie/beego" data-icon="octicon-star" data-count-href="/astaxie/beego/stargazers" data-count-api="/repos/astaxie/beego#stargazers_count" data-count-aria-label="# Beego on GitHub" aria-label="Star astaxie/beego on GitHub">Star</a></li>
                <li><a class="github-button" href="https://github.com/astaxie/beego/fork" data-icon="octicon-repo-forked" data-count-href="/astaxie/beego/network" data-count-api="/repos/astaxie/beego#forks_count" data-count-aria-label="# Beego on GitHub" aria-label="Fork astaxie/beego on GitHub">Fork</a></li>             
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/blog">Team</a></li>
                <li><a href="/blog">About</a></li>
                <li><a href="/blog">Donate US</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="dropup choose-lang-container">
                <button class="btn dropdown-toggle choose-lang" type="button" id="choose-language" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Language:English <i class="caret"></i>
                </button>
                <div class="dropdown-menu choose-lang-menu" aria-labelledby="choose-language">
                    <a class="dropdown-item choose-lang-item lang-changed" href="javascript::" data-lang="zh-CN">简体中文</a>
                </div>
            </div>
            <div class="copyright-container">
                <p>Copyright © 2012-2014 Apache 2.0 Licence</p>
                <p>Logo designed by Tengfei.</p>
            </div>
        </div>
    </div>
</div>