<div class="container feature-item text-center">
    <hr class="feature-hr"/>
    <div class="col-md-4 col-xs-12 text-center feature-content">
        <h3 class="feature-title">Easy to Learn & Use</h3>
        <p class="feature-desc">
            With common <strong>MVC</strong> architecture, you can learn quickly by other MVC experience , as same and well organized directory structure , same behaviors of models and controllers.
        </p>
        <br/>
        <p class="feature-desc">
            The <strong>Bee</strong> tool can generate sample project as foundation to start your development, and rebuild and restart working program to display affected changes.
        </p>
        <br/>
        <div class="feature-code">
            <p>go get github.com/beego/bee</p>
            <p>bee new website</p>
            <p>cd website</p>
            <p>bee run</p>
        </div>     
        <div class="feature-link">
            <a href="#guide" class="btn btn-primary getting-started-btn">Getting Started</a>
        </div>
    </div>
</div>
<div class="container feature-item text-center">
    <hr class="feature-hr"/>
    <div class="col-md-4 col-xs-12 text-center feature-content">
        <h3 class="feature-title">Modular</h3>
        <p class="feature-desc">
            To meet requirements for web application, Beego provides simple modules to work on different perspects on web project.
        </p>
        <br/>
        <table class="feature-table table table-striped text-left">
            <thead>
                <tr>
                <th>Feature</th>
                <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td><strong>Agnostic</strong></td>
                <td>Full support for many popular testing, templating, mocking, and database libraries.</td>
                </tr>
                <tr>
                <td><strong>Generators</strong></td>
                <td>Create Padrino applications, models, controllers, admin.</td>
                </tr>
                <tr>
                <td><strong>Mountable</strong></td>
                <td>Unlike other ruby frameworks, principally designed for mounting multiple apps.</td>
                </tr>
                <tr>
                <td><strong>Routing</strong></td>
                <td>Full url named routes, named params, respond_to support, before/after filter support.</td>
                </tr>
                <tr>
                <td><strong>Helpers</strong></td>
                <td>Different helpers for generating tags, forms, links, images, and more.</td>
                </tr>
                <tr>
                <td><strong>Mailer</strong></td>
                <td>Fast and simple support for delivering emails.</td>
                </tr>
                <tr>
                <td><strong>Caching</strong></td>
                <td>Simple route and fragment caching to easily speed up your web requests.</td>
                </tr>
                <tr>
                <td><strong>Admin</strong></td>
                <td>Built-in admin interface (akin to Django) with authentication.</td>
                </tr>
                <tr>
                <td><strong>Logging</strong></td>
                <td>Provides a unified logger that can interact with your ORM or any library of your choice.</td>
                </tr>
                <tr>
                <td><strong>Reloading</strong></td>
                <td>Automatically reloads server code during development.</td>
                </tr>
                <tr>
                <td><strong>Localization</strong></td>
                <td>Full support for I18n localization.</td>
                </tr>
    </tbody>
</table> 
        <div class="feature-link">
            <a href="#guide" class="btn btn-primary learn-module-btn">Learn Modules</a>
        </div>
    </div>
</div>
<div class="container feature-item text-center">
    <hr class="feature-hr"/>
    <div class="col-md-4 col-xs-12 text-center feature-content">
        <h3 class="feature-title">Smart Monitor</h3>
        <p class="feature-desc">
            Beego provides admin toolbox to monitor web application. It's able to monitor your QPS, memory and CPU usages, and goroutine status. It provides you the fully control of your online apps. 
        </p>   
        <div class="feature-link">
            <a href="#guide" class="btn btn-primary getting-started-btn">Learn Toolbox</a>
        </div>
    </div>
</div>