
<h3>AstaXie</h3>

<ul>
<li>Team role: founder of beego, primary developer.<br></li>
<li>Social network: <a href="http://weibo.com/533452688">Sina Weibo</a> <a href="https://github.com/astaxie">GitHub</a> <a href="https://twitter.com/astaxie">Twitter</a> <a href="https://plus.google.com/u/0/111292884696033638814">Google+</a><br></li>
</ul>

<h3>Slene</h3>

<ul>
<li>Team role: primarily responsible for ORM, maintainer of Beego samples and official site.<br></li>
<li>Social network: <a href="http://weibo.com/slene">Sina Weibo</a> <a href="https://github.com/slene">GitHub</a> <a href="https://twitter.com/slene">Twitter</a><br></li>
</ul>

<h3>ClownFish</h3>

<ul>
<li>Team role: primarily responsible for Beego admin management system.<br></li>
<li>Social network: <a href="https://github.com/osgochina">GitHub</a><br></li>
</ul>

<h3>Lei Cao</h3>

<ul>
<li>Team role: Main maintainer for the English Docs and resources.<br></li>
<li>Social network: <a href="https://github.com/lei-cao">GitHub</a><br></li>
</ul>
