html,
body {
    font-family: "Titillium Web", "PingHei", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
}

pre code {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', "Microsoft Yahei", Helvetica, Arial, sans-serif;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}

body {
    /*background: url("../img/bg.jpg") no-repeat top center;*/
    background-color: #FCFCFC;
}

pre[class*="language-"]:after {
    display: none !important;
}

#nav.bg-inverse {
    background-color: #161616 !important;
}

#index-carousel {
    background-image: linear-gradient(74deg, transparent 90%, rgba(255, 255, 255, 0.23) 55%), linear-gradient(74deg, transparent 83%, rgba(255, 255, 255, 0.18) 55%), linear-gradient(74deg, transparent 76%, rgba(255, 255, 255, 0.1) 55%), linear-gradient(to top, #127ab1, #1799e0, #1796db);
    padding: 30px 0;
}

#beego-logo img {
    max-width: 100%;
}

#index-carousel .slogan {
    padding-top: 48px;
    padding-right: 40px;
    font-size: 32px;
    color: #FAFAFA;
}

#index-carousel .stable-verison {
    padding: 24px 0;
}

#index-carousel .stable-verison .btn {
    font-size: 1.25rem;
}

#main {
    padding: 40px 0;
}

#main h3 {
    color: #f04c5c;
    text-shadow: 1px solid 0 0;
    border-bottom: 1px solid #CCC;
    padding: 8px 24px 8px 0;
}

#index-feature .feature-item {
    padding-top: 12px;
}

#article-single h3.title {
    padding-bottom: 12px;
    margin-bottom: 18px;
}

#article-single .brief h1 {
    font-size: 1.6rem
}

#article-single .brief h2 {
    font-size: 1.5rem
}

#article-single .brief h3 {
    font-size: 1.4rem
}

#article-single .brief h1,
#article-single .brief h2,
#article-single .brief h3 {
    border-left: 4px solid #1796db;
    padding-left: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 1rem
}

#doc-navs,
#doc-navs ul {
    list-style: none;
    padding-left: 0;
    line-height: 2rem;
}

#doc-navs ul {
    font-size: 1rem;
    padding-left: 1rem
}

#doc-navs {
    padding-top: 1rem;
}

#doc-navs> li {
    font-size: 1.1rem;
}

#doc-navs .node {
    margin-top: 1rem;
}

#doc-navs .node> span {
    border-left: 4px solid #CCC;
    padding-left: 1rem;
}