<p>本网站文档页面详细描述了 beego 应用框架的各个方面。</p>

<h3>新手指导</h3>

<p>如果您是首次了解 beego，我们建议您先阅读 <a href="quickstart">快速入门</a>。</p>

<h3>其它资源</h3>

<p>如果您无法找到相关问题的满意答案，可以在 <a href="https://groups.google.com/forum/#!forum/beego-framework">邮件列表 (beego-framework@googlegroups.com)</a> 中搜索。</p>

<h3>寻求帮助</h3>

<p>如果您遇到无法解决的问题，可以发送邮件到 <a href="mailto:beego-framework@googlegroups.com">beego-framework@googlegroups.com</a> 提问。</p>

<h3>问题提交</h3>

<p>如果您在使用过程中发现 beego 有潜在的问题，请通过 <a href="https://github.com/astaxie/beego/issues">Github</a> 上的问题列表提交。</p>

<h3>完善文档</h3>

<p>您可以通过派生 <a href="https://github.com/beego/beedoc">文档项目</a>、编辑，然后提交合并请求。</p>

<h3>网站源码</h3>

<p>请移步 <a href="https://github.com/beego/beeweb">Beego Web</a>。</p>
