
<h3>Asta谢</h3>

<ul>
<li>团队角色：beego 创始人，框架主要开发者。<br></li>
<li>社交网络：<a href="http://weibo.com/533452688">新浪微博</a> <a href="https://github.com/astaxie">GitHub</a> <a href="https://twitter.com/astaxie">Twitter</a> <a href="https://plus.google.com/u/0/111292884696033638814">Google+</a><br></li>
</ul>

<h3>Slene</h3>

<ul>
<li>团队角色：ORM 开发者，兼职 beego 示例及官网开发<br></li>
<li>社交网络：<a href="http://weibo.com/slene">新浪微博</a> <a href="https://github.com/slene">GitHub</a> <a href="https://twitter.com/slene">Twitter</a><br></li>
</ul>

<h3>ClownFish</h3>

<ul>
<li>团队角色：beego 后台管理系统开发者<br></li>
<li>社交网络：<a href="https://github.com/osgochina">GitHub</a><br></li>
</ul>

<h3>Lei Cao</h3>

<ul>
<li>团队角色：维护英文文档和资源<br></li>
<li>社交网络：<a href="https://github.com/lei-cao">GitHub</a><br></li>
</ul>
